In [1]:
'''
LESSER OF TWO EVENS: Write a function that returns the lesser of two given
numbers if both numbers are even, but returns the greater if 
one or both numbers are odd
'''
print()

In [12]:
def lesser_of_two_numbers(num1, num2):
    nums=[num1,num2]
    if num1%2 !=0 or num2%2 !=0:
        if num1>num2:  #return max(num1,num2)
            return num1
        else:
            return num2
    elif num1%2 == 0 and num2%2 ==0:
        if num1>num2:   #return min(num1,num2)
            return num2
        else:
            return num1
            
lesser_of_two_numbers(2,4)

2

In [13]:
lesser_of_two_numbers(2,5)

5

In [ ]:
"""
NIMAL CRACKERS: Write a function takes a two-word string and returns True
if both words begin with same letter
"""
print()

In [27]:
def animal_crackers(word):
    splited_words = word.split()
    if splited_words[0][0] == splited_words[1][0]:
        return True
    else:
        return False
    
    
    
animal_crackers('Levelheaded Llama')

True

In [26]:
animal_crackers('Crazy Kangaroo')

False

In [29]:
"""
MAKES TWENTY: Given two integers, return True if the sum of the integers
is 20 or if one of the integers is 20. If not, return False

"""
print()

In [1]:
def makes_twenty(n1,n2):
    int(n1)
    int(n2)
    if n1 == 20 or n2 == 20 or n1 + n2 == 20:
        return True
    else :
        return False

In [2]:
makes_twenty(20,10)

True

In [3]:
makes_twenty(12,8)

True

In [4]:
makes_twenty(2,8)

False

In [5]:
"""
OLD MACDONALD: Write a function that capitalizes the first and
fourth letters of a name
"""
print()

In [9]:


def old_macdonald(name):
    x= ""
    for ind in range(len(name)):
        if ind == 0 or ind == 3:
            x += name[ind].upper()
        else:
            x += name[ind]
    return x
'''
def old_macdonald(name):
    zeroth_index = name[0]
    one_to_three = name[1:3]
    fourth =name[3]
    remaining =name[4]
    return zeroth_index.upper()+one_to_three+fourth.upper()+remaining

old_macdonald('macdonal')
''''

'MacDo'

In [12]:
'''
MASTER YODA: Given a sentence, return a sentence with the words reversed
'''
print()

In [18]:
def master_yoda(text):
    a = ""
    splited_text = text.split()
    for x in [2,1,0]:
        a += splited_text[x]
        a += " "
    return a

In [19]:
master_yoda('I am home')

'home am I '

In [21]:
def master_yoda(text):
    
    splited_text = text.split()
    rev = splited_text[::-1]
    return " ".join(rev)

In [22]:
master_yoda('I am home')

'home am I'

In [44]:
#ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
def almost_there(n):
    
    if abs(n-200) <= 10 or abs(n-100) <= 10:
        return True
    else:
        return False
    
almost_there(90)

True

In [45]:
almost_there(104)

True

In [46]:
almost_there(150)

False

In [48]:
almost_there(209)

True

In [77]:
#Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.
def has_33(nums):
    for x in range(len(nums)-1):
        if nums[x] == 3:
            if nums[x+1] == 3:
                return True
            else:
                return False

In [78]:
has_33([1, 3, 3])

True

In [79]:
has_33([1, 3, 1, 3])

False

In [80]:
has_33([3, 1, 3])

False

In [81]:
#PAPER DOLL: Given a string, return a string where for every character in the original there are three character
def paper_doll(text):
    a = ""
    for x in text:
        a+=x*3
    return a
paper_doll('Hello')

'HHHeeellllllooo'

In [82]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [84]:
"""
BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, 
return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. 
Finally, if the sum (even after adjustment) exceeds 21, return 'BUST
"""
print()

In [94]:
def blackjack(a,b,c):
    added = a+b+c
    if added<=21:
        return added
    elif added>21 and a == 11 or b==11 or c ==11:
        if added-10 <= 21:
            return added-10
        else:
            return "Burst"
    else:
        return "Burst"

In [95]:
blackjack(5,6,7)

18

In [96]:
blackjack(9,9,9)

'Burst'

In [97]:
blackjack(9,9,11)

19

In [98]:
'''
SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and
extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
'''
print()

In [5]:
def summer_69(arr):
    c = 0
    boo = True
    for x in arr:
        while boo:
            if x!=6:
                c += x
                break
            else:
                boo = False
        while not boo:
            if x!=9:
                break
            else:
                boo = True
                break
    return c
    
summer_69([4, 5, 6, 7, 8, 9])

9

In [6]:
summer_69([2, 1, 6, 9, 11])

14

In [7]:
summer_69([1, 3, 5])

9