In [3]:
#need to import the collection modules and the classes ehich we want to use

In [11]:
#importing counter class
from collections import Counter

In [12]:
li1 = [1,1,1,1,1,1,1,2,2,2,2,2,3,3,3,6,6,6,6,6]

In [13]:
Counter(li1)

Counter({1: 7, 2: 5, 3: 3, 6: 5})

In [14]:
li2 = "rrrrrrrrrrrraaaaaaaaaaaammmmmmmmmmmm"

In [15]:
li3 = "my name is rama and i am a boy . . ."

In [16]:
Counter(li3.split())

Counter({'my': 1,
         'name': 1,
         'is': 1,
         'rama': 1,
         'and': 1,
         'i': 1,
         'am': 1,
         'a': 1,
         'boy': 1,
         '.': 3})

In [17]:
c = Counter(li3.split())

In [18]:
c['my']

1

In [19]:
c["."]

3

In [20]:
sum(Counter(li1))

12

In [44]:
#namedtuple() is Like dictionarie, they contain keys that are hashed to a particular value
#namedtuple() provide a way to access their values using field names and the dot notation which makes the code readable

from collections import namedtuple

person = namedtuple("person",["name","age"])

In [67]:
x = person(name="ram",age=22)

In [46]:
x

person(name='ram', age=22)

In [47]:
y = person(name="rama",age=23)

In [49]:
print(y)

person(name='rama', age=23)

In [55]:
print(x.name)
y.name

ram

'rama'

In [70]:
for a in x:
    print(a)

ram
22

In [71]:
for a in y:
    print(a)

rama
23

In [76]:
d ={"a":1,"b":2}
for x in d.values():
    print(x)
d.a

1
2

AttributeError: 'dict' object has no attribute 'a'

In [85]:
bike = namedtuple("Bike",["owner","name","number"])

In [86]:
Bobj = bike("ram","pulser","2414")

In [87]:
Bobj.owner

'ram'

In [88]:
Bobj.name

'pulser'

In [89]:
Bobj.number

'2414'

In [90]:
Bobj

Bike(owner='ram', name='pulser', number='2414')

In [ ]:
#defaultdict : it is a subclass of the dictionary, but it stores an default value which is used when we call a key --
# --which is not in dictionary then the default value will assigns to that key
#this doesnot throws KeyError

In [91]:
from collections import defaultdict

In [111]:
def def_val():
    return "def_value"

In [133]:
    a = defaultdict(def_val)
    a[1] = "a"
    a[2] = "b"

In [134]:
a[1]

'a'

In [135]:
a[2]

'b'

In [136]:
a[3]

'def_value'

In [138]:
b = defaultdict(lambda : "d_v")
b["a"] = 1
b["b"] = 2

In [139]:
b["b"]

2

In [141]:
print(b["d"])
print(b["p"])

d_v
d_v