In [1]:
marks = [100,200,300,400,500]

for num in marks:
    print(num)

100
200
300
400
500

In [2]:
ages = [23,24,23,22,19]

for x in ages:
    print(x)
    print("-----")

23
-----
24
-----
23
-----
22
-----
19
-----

In [3]:
t = (1,2,3)

for x in t:
    print(x)

1
2
3

In [4]:
for x in "ram":
    print(x)

r
a
m

In [5]:
for x in "raja":
    print("hai")

hai
hai
hai
hai

In [6]:
v = [(1,1,2,4),(1,5,3,9)]

for x in v:
    print(x)

(1, 1, 2, 4)
(1, 5, 3, 9)

In [7]:
for x,y,z,a in v:
    print(x)
    print(y)
    print(z)
    print(a)

1
1
2
4
1
5
3
9

In [8]:
num = 5
x = 1
while x <= num:
   print(x)
   x+=1

1
2
3
4
5

In [9]:
num1 = 10

while num1 < 20:
    print(num1)
    num1 +=1

10
11
12
13
14
15
16
17
18
19

In [10]:
a = 0

while a < 5:
    print('raj')
    a +=1
else:
    print("ram")

raj
raj
raj
raj
raj
ram

In [11]:
x=1
while x < 10:
    if x%2==0:
        print(f"{x} is even")
    else:
        print(f"{x} is odd")
    x += 1
else:
    print("end of the loop")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
end of the loop

In [12]:
names = ["ram",'lakshman',"ravana"]
num,i = 5,0

In [ ]:
while num > 0:
    if names[i] == "ravana":
        continue
        print(names[i])
    else:
        print(names[i])
    i += 1
    num -=1

ram
lakshman

In [ ]:
x = 1
num = 1
while num < 14:
    if x%2==0:
        if x==12:
            print(f"x is {x} so loop breaked")
            break
        else:
            print(f"{x} is not 12")
        print(f"but {x} is even")
    else:
        print(f"{x} is odd")
    num +=1 
    x+=1
else:
    print("you are out of the while loop")

In [11]:
#using range: generates a sequence of numbers with in the specific range 
for x in range(0,10):
    if x%2==0:
        if x==8:
            print("x is {} so is loop breaked".format(x))
            break
        else:
            print(f"{x} is not 12")
        print(f"but {x} is even")
    else:
        print(f"{x} is odd")
else:
    print("the range is ended")

0 is not 12
but 0 is even
1 is odd
2 is not 12
but 2 is even
3 is odd
4 is not 12
but 4 is even
5 is odd
6 is not 12
but 6 is even
7 is odd
x is 8 so is loop breaked

In [12]:
for x in range(0,5):
    print("hai ram")

hai ram
hai ram
hai ram
hai ram
hai ram

In [13]:
x = list[range(1,6)]#we can not add values to list in this way, instead of this way we need to use list function
x

list[range(1, 6)]

In [14]:
x = list(range(0,6))#Here we are inserting 0 to 5 integers into the list
print(x)
type(x)

[0, 1, 2, 3, 4, 5]

list

In [15]:
x = list("k")#list() function can accepts only one argument which is iteratable
x

['k']

In [16]:
l1 = set(range(0,6))
print(l1)

{0, 1, 2, 3, 4, 5}

In [17]:
l2 = set(range(0,20,3))
print(l2)

{0, 3, 6, 9, 12, 15, 18}

In [18]:
count = 0
for x in "narayan":
    print(f"at the index {count} letter {x} is there")
    count +=1

at the index 0 letter n is there
at the index 1 letter a is there
at the index 2 letter r is there
at the index 3 letter a is there
at the index 4 letter y is there
at the index 5 letter a is there
at the index 6 letter n is there

In [19]:
count = 0
for x in [100,300,400,500,900]:
    print("at the index {}, {} is there in the list".format(count,x))

at the index 0, 100 is there in the list
at the index 0, 300 is there in the list
at the index 0, 400 is there in the list
at the index 0, 500 is there in the list
at the index 0, 900 is there in the list

In [ ]:
#using Enumerate: enumerate() function keeps track on iterable objects and returns an index value and the element
name = "python"
for x in enumerate(name):
    print(x)
    
type(x)

In [ ]:
x = [2,4,"r","ye"]
for y in enumerate(x):
     print(y)

In [ ]:
'''
zip(): zip function takes multiple iterators as arugments and returns one iterator 
which contains the series of tuples that contains elements from the each iterator.
'''
it1 = [1,0,5,5,6]
it2 = ["one","zero","five","five"]
it3 = {1,4,7,3}

zip(it1,it2,it3)

for x in zip(it1,it2,it3):
    print(x)

In [ ]:
it4 = {"k1":"v1","k2":"v2"}
it5 = {1,3,5}

for x in zip(it4,it5):
    print(x)

In [ ]:
for x in zip(it4.values(),it5):
    print(x)

In [ ]:
for x in zip(it4.items(),it5):
    print(x)

In [ ]:
for x in enumerate(it4):
    print(x)

In [ ]:
for x in enumerate(it4.values()):
    print(x)

In [ ]:
for x in enumerate(it4.items()):
    print(x)

In [ ]:
min(it4)

In [ ]:
it1 = [1,0,5,5,6]
min(it1)

In [ ]:
max(it1)

In [20]:
it2 = ["one","zero","five","five"]
min(it2)

'five'

In [21]:
set(it2)

{'five', 'one', 'zero'}

In [22]:
min(it2)

'five'

In [23]:
max(it2)

'zero'

In [24]:
from random import shuffle

In [25]:
l5 = [1,2,3,4,5,6]
shuffle(l5)

In [26]:
print(l5)

[2, 6, 1, 4, 3, 5]

In [27]:
s2 = {1,2,5,9}

In [28]:
li = list(s2)
shuffle(li)
s = set(li)
print(s)

{9, 2, 5, 1}

In [3]:
from random import randint

In [4]:
randint(1,7)

3

In [5]:
randint(-1,5)

-1

In [6]:
randint(0,9)

9

In [9]:
a = input("enter a number: ")
type(a)

enter a number: 55

str

In [10]:
randint(int(input("enter starting range: ")),int(input("enter ending range which will be ignored: ")))

enter starting range: 0
enter ending range which will be ignored: 100

61