In [11]:
#Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.
1*10/1e1+100.25-1

100.25

In [12]:
#What is the value of the expression 4 * (6 + 5)
#44
#What is the value of the expression 4 * 6 + 5 
#29
#What is the value of the expression 4 + 6 * 5
#34

In [15]:
#What is the type of the result of the expression 3 + 1.5 + 4?
#float

In [16]:
#What would you use to find a numberâ€™s square root, as well as its square?

#square root: x*0.5
#root: X*X

In [17]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

In [18]:
#Reverse the string 'hello' using slicing:
s[::-1]

'olleh'

In [24]:
#Given the string hello, give two methods of producing the letter 'o' using indexing.
s ='hello'
# Method 1:
s[4]

'o'

In [25]:
# Method 2:
s[-1]

'o'

In [26]:
#Build this list [0,0,0] two separate ways.
# Method 1:
l1=[0]*3
# Method 2:
l2=[0,0,0]

In [34]:
#Reassign 'hello' in this nested list to say 'goodbye' instead:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = ['goodbye']
list3

[1, 2, [3, 4, ['goodbye']]]

In [35]:
#Sort the list below:
list4 = [5,3,4,6,1]
list4.sort()

In [36]:
list4

[1, 3, 4, 5, 6]

In [37]:
d = {'simple_key':'hello'}
# Grab 'hello'
d["simple_key"]

'hello'

In [38]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello
d['k1']['k2']

'hello'

In [61]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
#Grab hello
d["k1"][0]['nest_key'][1][0]

'hello'

In [ ]:
#What is the major difference between tuples and lists?
#lists are mutable but tuples are immutable

In [49]:
#How do you create a tuple?
#by using ()#parnthasis separated by camas

In [50]:
#What is unique about a set?
#sets doesnot allow duplicates

In [53]:
#Use a set to find the unique values of the list below:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set5 = set(list5)
print(set5)

{1, 2, 33, 4, 3, 11, 22}

In [54]:
# Answer before running cell
2 > 3
#False

False

In [55]:
# Answer before running cell
3 <= 2
#False

False

In [56]:
# Answer before running cell
3 == 2.0
##False

False

In [57]:
# Answer before running cell
3.0 == 3
#True

True

In [58]:
# Answer before running cell
4**0.5 != 2
#False

False

In [59]:
#Final Question: What is the boolean output of the cell block below?

# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
#False

False