Def : String is a ordered sequence of the charecter data

Creating a String

Different ways to create a string.

In [1]:
"Hello world"

'Hello world'

In [2]:
'Hello World'

'Hello World'

In [3]:
"""Hello World"""

'Hello World'

In [4]:
#'hi ram, I'm good'( gives exception )
"hi ram, I'm good"

"hi ram, I'm good"

In [5]:
#To check length of the string we use len() function 
y = "yaswanth"
len(y)

8

In [6]:
#indexing
y[1]

'a'

In [7]:
y[-1]

'h'

In [8]:
y[-0]

'y'

In [9]:
#Data Slicing
y = "ram lakshnam"
len(y)

12

In [10]:
#to get entire string
y[::]

'ram lakshnam'

In [11]:
#variable[starting index:ending index(exclude):step size]
y[0:]

'ram lakshnam'

In [13]:
y[0:3]

'ram'

In [14]:
y[:3]

'ram'

In [16]:
y[4:]

'lakshnam'

In [17]:
y[4::2]

'lkha'

In [19]:
y[2:10:2]

'mlkh'

In [24]:
y[::-2]

'mnsa a'

In [25]:
y[::-1]#print reverse of the string

'manhskal mar'

In [26]:
#Concatinating the strings
x = 'ram '
y = 'is '
z = 'absent'

In [27]:
x+y+z

'ram is absent'

In [28]:
print(x+y+z)

ram is absent

In [29]:
print(x+"is present")

ram is present

In [30]:
#we can also multiply the string using *
z = "ha"

In [31]:
z*5

'hahahahaha'

In [32]:
print(z*5)

hahahahaha

strings  have Escape sequence charecters

\t for tab space
\n for next line

strings are 2 types 
1. Normal string
2. Raw string

raw string treats escape sequence charecters as a part of that string
raw string starts with r. ex: r"ram"

In [33]:
x = "hai hello how are you"

In [34]:
print(x)

hai hello how are you

In [37]:
y = "hai \nhello \nhow are you"

In [38]:
print(y)

hai
hello
how are you

In [39]:
z = r"hai \nhello \nhow are you"

In [40]:
print(z)

hai \nhello \nhow are you

String Methods

In [41]:
name = "Rajesh"

In [42]:
name.upper()

'RAJESH'

In [43]:
print(name.upper())

RAJESH

In [44]:
name

'Rajesh'

In [45]:
name = name.upper()

In [46]:
name

'RAJESH'

In [47]:
name = name.lower()

In [48]:
name

'rajesh'

In [51]:
#replace() to replace a charecter or sub string
name.replace("r","s")

'sajesh'

In [52]:
name.replace("raj",'jar')

'jaresh'

In [54]:
name+"war"

'rajeshwar'

In [59]:
'''
split(): removes the string which we inserted in peranthasis and splits
into two paarts and returns as list type
'''
a = "i am fine"

In [60]:
a.split()

['i', 'am', 'fine']

In [61]:
a.split('i')

['', ' am f', 'ne']

In [62]:
c = "cccc"
c.split("c")

['', '', '', '', '']

Data Formating

3 ways:

using %, 
using {} and 
using f

In [78]:
string = "%s got %d marks which is %.2f percentage" %("eswar",500,75.8)

In [79]:
string

'eswar got 500 marks which is 75.80 percentage'

In [83]:
string2 = "my name is {}".format("nithin")

In [84]:
print(string2)

my name is nithin

In [86]:
print("my age is {}".format(23))

my age is 23

In [87]:
print("Today's weather temperature is {} degrees C".format(39.6))

Today's weather temperature is 39.6 degrees C

In [89]:
country = 'india'
print(f"my country name is {country}")

my country name is india

In [90]:
name = 'ram'
marks1 = 88
marks2 = 77

In [94]:
print(f"{name} got {marks1} marks in maths and {marks2} marks in social, average is {(marks1+marks2)/2}")

ram got 88 marks in maths and 77 marks in social, average is 82.5